@font-face {
  src: url('fonts/Raleway.ttf');
  font-family: Raleway;
}
html {font-size: 62.5%;}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  background-color: $base;
  color: white;
}