.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $base;
  padding: 1.5rem 2rem;
  z-index: 99;
  position: sticky;
  top: 0;

  &__logo {
    width: 7rem;
    height: auto;
    z-index: 99;
  }
}


@media screen and ( min-width: 1200px ) {
  .header {
    padding: 1.5rem 5rem;
    box-shadow: 0 0 .3rem black;

    &__logo {
      width: 10rem;  
    } 
  }
}
  